In [44]:
# 1. Import the necessary libraries and load the dataset.
import pandas as pd
import os

cwd = os.getcwd()
cwd
url='C:\\Users\\user\\Africa-Data-School-Curriculum\\notebooks/data/vgsales.csv'
df = pd.read_csv(url)

# 2. Display the first ten rows of the dataset.

df.head(10)

# 3. Display the shape and basic information of the dataset.

print(df.shape)
print(df.info())

# 4. Check for the missing data and handle it approprietly.

print(df.isna().sum())
df=df.dropna()

# 5. Display the top 5 video games by globalscale.

top5_global=df.nlargest(5, 'Global_Sales')
print(top5_global)

# 6. The total sales in North America for the action genre.

action_sales_na=df[df['Genre']=='Action']['NA_Sales'].sum()
print(action_sales_na)

# 7. The top 3 publishers by global sales.

top3_publisher= df.groupby('Publisher')['Global_Sales'].sum().nlargest(3)
print(top3_publisher)

# 8. The average sales in Europe in the 'Shooter' genre.

shooter_average_sales_eu=df[df['Genre']=='Shooter']['EU_Sales'].mean()
print(shooter_average_sales_eu)


# 9. The game with the highest sales in Japan in the 'Sports' genre.

highest_jp_sports=df[df['Genre']=='Sports'].nlargest(1, 'JP_Sales')
print(highest_jp_sports)

(16598, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None
Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64
   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
861.7700000000001
Publisher
Nintendo           1784.43
Electronic Arts    1093.39
Activision          721.41
Name: Global_Sales, dtype: float64
0.24216068642745708
   Rank        Name Platform    Year   Genre Publisher  NA_Sales  EU_Sales  \
0     1  Wii Sports      Wii  2006.0  Sports  Nintendo     41.49     29.02

   JP_Sales  Other_Sales  Global_Sales
0      3.77         8.46         82.74